@model District

@{
    ViewData["Title"] = "Details";
}

    <div class="card col-md-8">
        <div class="card-header">
            <h4>Details for : @Html.DisplayFor(model => model.DistrictName)</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DistrictName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DistrictName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Country)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Country)
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <div>
                <a class="btn btn-sm btn-success" asp-controller="Districts" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-sm btn-success" asp-controller="Districts" asp-action="IndexSearch">Back to Districts</a>
            </div>
        </div>
    </div>